/* Reset some default styles */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    color: white;
    background-image: url(assets/lake_bg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

header {
    background-color:transparent;
    color: white;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: white;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}
.countdown-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.countdown-item {
    text-align: center;
    font-size: 2rem;
    background-color: white;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    text-align: center;
    padding: 10px;
    background-color: transparent;
    color: white;
}
